*,:root{
    font-family: 'Poppins';
    font-weight: 400;
    text-align: center;
}

body{
    background: rgb(55, 50, 50);
    overflow: hidden;
}

.content{
    width: 500px;
    height: 500px;
    background: rgb(155, 155, 155);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(119, 119, 119);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    perspective: 200em;
    perspective-origin: 100% 2em;
}

.content .square{
    --content: '';
    width: 100px;
    height: 100px;
    background: transparent;
    border-radius: 7px;
    transform-style:preserve-3d;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease-in-out;
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    place-items: center;
}
.square::before{
    content: attr(data-content);
    font-size: 2em;
    position: absolute;
    transform: rotateY(180deg);
    color: #fff;
}

.square-container.select{
    transform: translateZ(5em);
}

.square-container{
    background: grey;
    width: 100%;
    height: 100%;
    border-radius: 7px;    
    animation-name:showSquare;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    transform-style:preserve-3d;
    transform: translateZ(0.2em);
    transition: transform 0.3s ease-in-out;
}


@keyframes showSquare{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(0.8);
    }
}

h1{
    color: #fff;
}

/* BUTTONS SECTION */

.buttons{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,100%);
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    width: 100%;
    animation: showButtons 2s forwards;
}

@keyframes showButtons{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.buttons button{
    padding: 1em;
    width: 20vw;
    font-size: 1em;
    box-shadow: 0 0 15px rgb(79, 78, 78);
    cursor: pointer;
}

.buttons .restart{
    background: #6FB2D2;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.buttons .show{
    background: #E5DCC3;
    border: none;
    border-radius: 3px;
    color: #000;
}

.open-rules-button{
    position: absolute;
    right: 3em;
    top: 2em;
    width: 7em;
    padding: 1em;
    cursor: pointer;
    font-size: 1em;
    background: #C06014;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.rules{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: #0007;
    text-align: center;
    display: none;
}

.rules .content{
    width: 50%;
    height: 100vh;
    background: #0009;
    border-radius: none;
    box-shadow: none;
}

.header{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

.opened-rules-tab{
    display: block;
    animation: showRulesTab 0.7s forwards;
}

@keyframes showRulesTab{
    0%{transform: translateY(100vh);}
    100%{transform: translateY(0);}
}

@media (max-width: 1000px){
    .rules .content{
        width: 75%;
    }
}

@media (max-width: 700px){
    .rules .content{
        width: 90%;
    }
}